@media screen and (max-width: 992px) {
  .bg-light {
    background: linear-gradient(
      to right,
      #fc88abc2 0%,
      #9051f578 40%,
      #ceb8f29d 100%
    );
    animation: gradient 3s infinite linear alternate;
    background-size: 200%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 25% 0%;
    }
    50% {
      background-position: 50% 0%;
    }
    75% {
      background-position: 75% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .decorate-phone {
    margin: 0 5px 3px 0;
  }
}

@media screen and (min-width: 992px) {
  .bg-light {
    background: linear-gradient(
      to right,
      #fc88abc2 0%,
      #9051f578 40%,
      #ceb8f29d 100%
    );
    animation: gradient 3s infinite linear alternate;
    background-size: 200%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 25% 0%;
    }
    50% {
      background-position: 50% 0%;
    }
    75% {
      background-position: 75% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .decorate-phone {
    margin: 0 5px 3px 10px;
  }

  .nav-text:hover {
    text-decoration: underline;
  }
}

.styling-nav {
  padding: 10px 15px 10px 15px;
}

body {
  background-color: #e6e6fa;
  font-family: "Comic Sans MS";
}

.main-info {
  background-image: url(BackgroungImg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 3%;
  border: 4px offset #000000;
  border-radius: 30px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.info1 {
  margin-right: 30%;
  text-shadow: 2px 2px 5px #808080;
}

.info2 {
  margin-left: 30%;
  padding-top: 2%;
  text-shadow: 2px 2px 5px #808080;
}

.info3 {
  margin-left: 30%;
  text-shadow: 2px 2px 5px #808080;
}

.info4 {
  margin-left: 30%;
  text-shadow: 2px 2px 5px #808080;
}
